.button {
  padding: 14px 37px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  border: none;
  background-color: #5236ff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.button--disabled {
  color: #b8b8cc;
  background-color: #f1f0f5;
  cursor: default;
}

.button:not(.button--disabled):hover {
  opacity: 0.7;
}

.button:not(.button--disabled):active {
  opacity: 0.5;
}
