.notification-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  background-color: #5236ff;
  border-radius: 50%;
}
