.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 60px 0 40px 0;
  gap: 10px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  background-color: var(--color-bg-card);
  border-radius: 6px;
  box-sizing: border-box;
}

.pagination__link--active {
  color: var(--color-contrast);
  background-color: var(--color-bg-accent);
  cursor: default;
}

.pagination__link:not(.pagination__link--active):hover {
  opacity: 0.7;
}

.pagination__link:not(.pagination__link--active):active {
  opacity: 0.5;
}

.pagination__link-img {
  width: 7px;
  height: 12px;
  fill: var(--color);
}

.pagination__link--disabled .pagination__link-img {
  fill: var(--color-border-disabled);
}

.pagination__link--prev {
  margin-right: 10px;
}

.pagination__link--next {
  margin-left: 10px;
  transform: rotate(180deg);
}
