.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.rating__star {
  width: 11px;
  height: 11px;
  fill: none;
  stroke: var(--color-bg-accent);
}

.rating__star--active {
  fill: var(--color-bg-accent);
}

.rating--disabled .rating__star {
  fill: var(--color-border-control-disabled);
  stroke: var(--color-border-control-disabled);
}

.rating--size-medium .rating__star {
  width: 14px;
  height: 14px;
}

.rating__value {
  margin-left: 7px;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-secondary);
}
