.reviews {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.reviews__list {
  margin-bottom: 10px;
}

.reviews__item {
  border-bottom: 1px solid rgb(25, 25, 29, 0.1);
}

.reviews__item:last-child {
  border: none;
}

.reviews__link {
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #5236ff;
  text-decoration: none;
}

.reviews__link:hover {
  opacity: 0.7;
}

.reviews__link:active {
  opacity: 0.5;
}
